
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link href="https://gracle.github.io/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://gracle.github.io/vendor/bootstrap/css/material-kit.css" rel="stylesheet">
    <link href="https://gracle.github.io/css/blog-home.css" rel="stylesheet">
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
  </head>
