
  <head>
    <meta charset="utf-8">
	  <meta name="propeller" content="3b4eb91c71786c03a1d4c4be38da4dc0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% seo %}
    <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <link href="https://gracle.github.io/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--link href="https://gracle.github.io/vendor/bootstrap/css/material-kit.css" rel="stylesheet" -->
    <link href="https://gracle.github.io/css/blog-home.css" rel="stylesheet">
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed" />
	  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175467793-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-175467793-1');
    </script>

  </head>
